{% extends 'base.html.twig' %}

{% block title %}Category !
{% endblock %}

{% block body %}

	<a href="  {{  path ('category_index') }}"></a>
</br>


<div>
	<h2>
		{% for category in categories %}
			<div>
				<h2 class="btn btn-secondary">
					Catégorie :
					{{ category.name }}</h2>
			</br>

			<a href="{{ path("category_show", { categoryName: category.name }) }}" class="btn btn-link">Voir la categorie</a>
		</div>
	{% endfor %}


</br>
<li>
	<a class="btn btn-outline-dark" href="{{ path('category_new') }}">Add category</a>
</li>{% endblock %}
